img {
 border: 0;
}


header {
  background: url(../images/bar.gif) top repeat-x;
}

header section {
	padding-top: 130px;
}

section aside ul li a {
   border-left: 5px solid #414143;
   background: #414143;
}

.column_container, h3 {
clear: both;
}

article {
  min-width: 800px;
}

.group input[type=text], .group input[type=email], .group textarea {
  padding: 10px 10px 0px 10px;
	font-family: Arial, helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
}

div.column {
display: inline;
}

footer {
	background: #222;
}

footer .group {
  background: #111;
border-radius: 20px!important;
}