---
---

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

$background_color: #282828; 
$white: #fff;
$tertiary_color: #222;
$theme_color: #448f87;

body {
	-webkit-animation: myfirst 20s infinite; /* Chrome, Safari, Opera */
  animation: myfirst 20s infinite;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #fff;
}

h1 {
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	font-size: 2.5em;
	color: #fff;
}

h1, h2, h3 {
	margin: 1.5em 0px .5em 0px;
	line-height: 1.2em;
}

h2 {
	color: $theme_color;
	font-weight: normal;
}


h3 {
	color: $theme_color;
	font-weight: normal;
	display: block;
	text-transform: uppercase;
	border-bottom: 1px solid #6d6e67; /*warm gray*/
}

h3 span {
	float: right;
}

h4 {
	margin: 1em 0px 0px 0px;
}

h4 span {
	font-weight: normal;

}

h5 {
	margin: 1em 0px 0px 0px;
	font-size: 1em;
}

h5 em{
	margin: 1em 0px 0px 0px;
	font-weight: normal;
}

input::-moz-focus-inner { 
  border: 0; 
}

p {
	margin: 0;
	padding: 0;
}

a {
	-webkit-transition: all .5s; 
  transition: all .5s;
	color: $theme_color;
	text-decoration: none;
}

a:hover {
	color: lighten($theme_color, 30%);
}

a:hover, a:focus, a:active {
	outline: 0;
}

ul {
	list-style-type: square;
	margin: 0 0 0 1em;
	padding: 0;
}

form {
	position: absolute;
	width: 80%;
	margin-top: 40px;
	font-size: 120%;
}

input,
label,
textarea {
	display: block;
	margin: 10px 0px;
	width: 100%;
}

label {
	color: $theme_color;
}

.required-flag {
	text-indent: -9999px;
	display: inline-block;
}

button[type="submit"]{
	@media screen and (min-width:650px) {
		margin-bottom: 100px;
	}
	appearance: none;
	border: none;
	  -webkit-transition: all 0.2s;
        transition: all 0.2s;
	background: $theme_color;
	text-transform: uppercase;
	width: 150px;
	margin: 10px 0 50px;
	&:hover {
		background: lighten($theme_color, 10%);
	}
}

#js_contact {
	position: relative;
}
input, 
textarea {
	  -webkit-transition: all 0.2s;
        transition: all 0.2s;
	webkit-appearance: none;
	color: #fff;
	
	padding: 10px;
	background: rgba(255,255,255, 0.2);
	border: none;
	&:focus {
		outline: none;
		background: rgba(255,255,255, 0.5);
	}
}

textarea {
	height: 200px;
}

@media screen and (min-width:650px) {
	input,
	label,
	textarea {
		width: 300px;
	}
}	

.page_container {
	margin-left: 0;
  -webkit-transition: all 0.3s;
        transition: all 0.3s;

	&.offset {
		width: -webkit-calc(100% - 110px);
		width: -moz-calc(100% - 110px);
		width: calc(100% - 110px);
	}
}

header {
	background: url(../images/bar.gif) top repeat-x;
	position: relative;
}

header section {
	padding-top: 50px;
	position: relative;
	max-width: 90%;
}

header section h2 {
	margin-top: 0px;
}

section {	
	margin: 0px auto;
	padding: 20px;
}

article {
		max-width: 90%;
}

.column_container {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer h2 {
	color: #eee;
}


.phone_email {
	list-style-type: none;
	font-weight: bold;
	font-size: 16px;
	color: #eee;
	margin: 0px;
	padding: 0px;
	a {
	line-height: 40px;
	font-size: 130%;
	font-weight: normal;
	}
	img {
		-webkit-transition: all .5s; 
		display: none;
	  transition: all .5s;
		height: 30px;
		opacity: 0.2;
		float: left;
		padding: 5px 10px 5px 0;
	}
	&:hover {
		a {
			color: #fff;

		}
		img {
			opacity: 1;	
		}
	}
}


.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

@media screen and (min-width: 600px) {

	.phone_email {
		img {
			display: block;
		}
	}

	header section {
		padding-top: 70px;
		background: url(../images/header_bar.png) 50px 0px no-repeat;
	}
	
	section {	
		max-width: 960px;
		padding: 10px 100px 0px 50px;
	}

	.column {
		display: inline;
		float: left;
		width: 45%;
		padding-right: 5%;
	}
}

@media screen and (min-width: 800px) {
	article {
		max-width: 700px;
	}
}

.portfolio_container {
	max-width: 960px;
}

.gallery {
	max-width: 80%;
	margin: 0px 20px 20px 0px;
}

.gallery a img {
	width: 100%;
}

.gallery a {
  -webkit-transition: all .5s; 
  transition: all .5s;
	display: block;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	box-shadow: 0px 0px 20px #000;
}

.gallery a:hover {
	box-shadow: 0px 0px 20px #aaa;
}

.gallery p {
	margin-top: 10px;
}

@media screen and (min-width:650px) {
	.gallery {
		display: inline;
		float: left;
		width: 45%;
	}

}

@media screen and (min-width: 800px) {

	.gallery {
		width: 30%;
	}

}

.off_canvas_navigation {
  -webkit-transition: all 0.2s;
        transition: all 0.2s;
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 0px;
	min-height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	&.active {
		width: 110px;
	}
}

.switch {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  .offset & {
  	right: 120px;
  }
}

.switch:focus {
  outline: none;
}

.switch span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
  display: block;
  position: absolute;
  top: 23px;
  left: 5px;
  right: 5px;
  height: 3px;
  background: lighten($background_color, 60%);
}

.switch span::before,
.switch span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: lighten($background_color, 60%);
  content: "";
}

.switch span::before {
  top: -12px;
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.switch span::after {
  bottom: -12px;
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

.switch.active span {
  background: none;
}

.switch.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.switch.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.switch.active span::before,
.switch.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}


nav {
	position: fixed;
	width: 100%;
	z-index: 1000;
  box-shadow: inset 10px 0px 5px -5px #000;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

}



nav ul li a {
  -webkit-transition: all .5s; 
  transition: all .5s;
	color: #ccc;	
	display: block;
	text-align: center;
  font-size: 90%;
  text-transform: uppercase;
	padding: 25px 10px;
}

nav ul li a:hover {

 	background: rgba(255,255,255,0.2);
	color: #fff;


}

.social {
  display: none;
}

@media screen and (min-width: 600px) {
	.social {
    display: block;
		padding: 5px;
		img {
			margin-top: 5px;
		  -webkit-transition: all .5s; 
		  transition: all .5s;
			height: 40px;
			width: 40px;
			opacity: 0.2;			
		}

		&:hover {
			img {
				opacity: 1.0;
			}
		}
	}
}

@-webkit-keyframes myfirst {
    0% {background: $background_color;}
    20% {background: $tertiary_color;}
    60% {background: darken($theme_color, 15%);}
    100% {background: $background_color;}
}

/* Standard syntax */
@keyframes myfirst {
    0% {background: $background_color;}
    20% {background: $tertiary_color;}
    60% {background: darken($theme_color, 15%);}
    100% {background: $background_color;}
}



