<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="text-wrapper">
        <h1>Kelly Ann Marshall</h1>
        <h2>Web Development</h2>
      </div>
      <div class="image-wrapper">
        <img
          src="/images/kelly_ann_marshall.jpg"
          alt="Kelly Ann Marshall"
          width="200px"
          height="200px"
        />
      </div>
    </div>

    <dl class="list-inline">
      <dt class="list-inline-item">Phone:</dt>
      <dd class="list-inline-item">
        <a itemprop="telephone" href="tel:+07906117249">07906-117-249</a>
      </dd>
    </dl>
    <dl class="list-inline">
      <dt class="list-inline-item">Email:</dt>
      <dd class="list-inline-item">
        <a itemprop="email" href="mailto:kelly_ann_marshall@yahoo.com"
          >kelly_ann_marshall@yahoo.com</a
        >
      </dd>
    </dl>

    <p>
      Hello and welcome to my portfolio website. My name is Kelly Marshall and
      I&rsquo;m a web developer based in Glasgow, Scotland, UK.
    </p>
  </div>
</header>
