<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="text-wrapper">
        <h1>Kelly Ann Marshall</h1>
        <ul class="what-i-do">
          <li>Front-End Developer</li>
          <li>UI Developer</li>
          <li>Web &amp; Visual Designer</li>
        </ul>
        <ul class="qualifications">
          <li>MSc Information Technology (Merit)</li>
          <li>BFA Photography</li>
        </ul>
        <ul class="contact">
          <li>Glasgow, Scotland</li>
          <li><a itemprop="telephone" href="tel:+07906117249">+44 (0)7906 117 249</a></li>
          <li><a itemprop="email" href="mailto:kelly_ann_marshall@yahoo.com">kelly_ann_marshall@yahoo.com</a></li>
          <li><a href="https://www.linkedin.com/in/kelly-ann-marshall/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
          <li><a href="https://github.com/KellyAnnMarshall" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
      </div>
    </div>

    <p class="lead" itemprop="description">
      Hello and welcome to my portfolio website. My name is Kelly Marshall and
      I&rsquo;m a web developer and designer based in Scotland, UK.
    </p>
  </div>
</header>
