  <header>
    <section>
      <h1>Kelly Ann Marshall</h1>

      <ul class="scroll-nav">
      	<li>
      		<button type="button" class="scroll" data-hook="web_dev">Web Development</button>
      	</li>
      	<li>
      		<button type="button" class="scroll" data-hook="web_des">Web Design</button>
				</li>
      	<li>
      		<button type="button" class="scroll" data-hook="print">Print Design</button>
      	</li>
      	<li>
      		<button type="button" class="scroll" data-hook="photo">Photography</button>
      	</li>
      </ul>
    </section>
    
  </header>