<button id="switch" type="button" class="switch">
  <span>toggle menu</span>
</button>
<nav class="off_canvas_navigation">
  <ul>
    <li>
      <button
        tabindex="-1"
        type="button"
        class="scroll text-left"
        data-hook="portfolio"
      >
        Portfolio
      </button>
    </li>
    <li>
      <button
        tabindex="-1"
        type="button"
        class="scroll text-left"
        data-hook="about"
      >
        About
      </button>
    </li>
    <li>
      <button
        tabindex="-1"
        type="button"
        class="scroll text-left"
        data-hook="cv"
      >
        CV
      </button>
    </li>
    <li>
      <button
        tabindex="-1"
        type="button"
        class="scroll text-left"
        data-hook="contact"
      >
        Contact
      </button>
    </li>
    <li>
      <a
        tabindex="-1"
        rel="me"
        itemprop="url"
        href="http://www.linkedin.com/pub/kelly-marshall/35/2a6/876"
        target="_blank"
        class="text-decoration-none text-left"
        >LinkedIn</a
      >
    </li>
    <li>
      <a
        tabindex="-1"
        rel="me"
        itemprop="url"
        href="http://github.com/KellyAnnMarshall"
        target="_blank"
        class="text-decoration-none text-left"
        >GitHub</a
      >
    </li>
  </ul>
</nav>
