  <nav class="off_canvas_navigation">
    <ul>
      <li><a href="#" class="scroll" id="portfolio">Portfolio</a></li>
      <li><a href="#" class="scroll" id="about">About</a></li>
      <li><a href="#" class="scroll" id="cv">CV</a></li>
      <li><a href="#" class="scroll" id="contact">Contact</a></li>
      <li><a href="http://www.linkedin.com/pub/kelly-marshall/35/2a6/876" target="_blank" class="social linked" title="linkedin"><img src="icons/linkedin.png" alt="linkedin" /></a></li>
      <li><a href="http://www.flickr.com/photos/skitnica71/" target="_blank" class="social flickr" title="flickr"><img src="icons/flickr.png" alt="flickr" /></a></li>
      <li><a href="http://dahonies.wordpress.com" target="_blank" class="social wordpress" title="wordpress"><img src="icons/wp.png"  alt="wordpress" /></a></li>
      <li><a href="http://github.com/KellyAnnMarshall" target="_blank" class="social github" title="github"><img src="icons/github.png" alt="github" /></a></li>
    </ul>
  </nav> 