  <button id="switch" type="button" class="switch"><span>toggle menu</span></button>
  <nav class="off_canvas_navigation">
    <ul>
      <li><button type="button" class="scroll" data-hook="portfolio">Portfolio</button></li>
      <li><button type="button" class="scroll" data-hook="about">About</button></li>
      <li><button type="button" class="scroll" data-hook="cv">CV</button></li>
      <li><button type="button" class="scroll" data-hook="contact">Contact</button></li>
      <li>
        <a rel="me" itemprop="url" href="http://www.linkedin.com/pub/kelly-marshall/35/2a6/876" target="_blank" class="icon-link linkedin">Linkedin</a>
      </li>
      <li>
        <a rel="me" itemprop="url" href="http://www.flickr.com/photos/skitnica71/" target="_blank" class="icon-link flickr">Flickr</a>
      </li>
      <li>
        <a rel="me" itemprop="url" href="http://github.com/KellyAnnMarshall" target="_blank" class="icon-link github">Github</a>
      </li>
    </ul>
  </nav> 