<section>
  <h2>Web Development Sandbox</h2>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          src="designwork/web/change-converter.png"
          alt="Change Converter"
          class="card-img-top"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a href="/change-converter" class="stretched-link" target="_blank"
              >Change Converter</a
            >
          </h3>
          <p>Built with Vue</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          src="designwork/web/map-challenge.png"
          alt="30 Day Map Challenge"
          class="card-img-top"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a href="/map-challenge" class="stretched-link" target="_blank"
              >30 Day Map Challenge</a
            >
          </h3>
          <p>Built with Vue + Mapbox</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          src="designwork/web/covid-data-visualisation.png"
          alt="Covid Data Visualisation"
          class="card-img-top"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a
              href="/covid-visualisation"
              class="stretched-link"
              target="_blank"
              >Covid Data Visualisation</a
            >
          </h3>
          <p>Built with Vue + ChartJS</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          src="designwork/web/scotlandcycleroutes.png"
          alt="Scotland Cycle Routes"
          class="card-img-top"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a
              href="https://scotlandcycleroutes.org"
              class="stretched-link"
              target="_blank"
              >Scotland Cycle Routes</a
            >
          </h3>
          <p>Built with Eleventy</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          src="designwork/web/heatmap.png"
          alt="Garden Bird Distribution Heatmap"
          class="card-img-top"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a href="/bird-heatmap" class="stretched-link" target="_blank"
              >Bird Heatmap</a
            >
          </h3>
          <p>Built with Vue + Google Maps</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          class="card-img-top sandbox"
          src="designwork/web/birdcount.png"
          alt="Garden Bird Count App"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a class="stretched-link" href="/birdcount" target="_blank"
              >Bird Count</a
            >
          </h3>
          <p>Built with Angular</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          class="card-img-top sandbox"
          src="designwork/web/garden-app.png"
          alt="Flower App"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a class="stretched-link" href="/garden-app" target="_blank"
              >Garden App</a
            >
          </h3>
          <p>Built with Vue + Frappe Gantt</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          class="card-img-top sandbox"
          src="designwork/web/css_blend_modes.png"
          alt="CSS Blend Modes"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a class="stretched-link" href="/css-blend-modes" target="_blank"
              >CSS Blend Modes</a
            >
          </h3>
          <p>Built with HTML, CSS + JavaScript</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-dark text-white">
        <img
          class="card-img-top sandbox"
          src="designwork/web/tickets.png"
          alt="Concert Tickets"
        />
        <div class="card-body">
          <h3 class="card-title h4">
            <a class="stretched-link" href="/tickets" target="_blank"
              >Concert Tickets</a
            >
          </h3>
          <p>Built with React, HTML + CSS</p>
        </div>
      </div>
    </div>
  </div>
</section>
